.b{
    color: aliceblue;
}
/* {"path":"./2.wxss","ext":".wxss"} */

.a{
    color:#fff
}
/* {"path":"../../1.wxss","ext":".wxss"} */
/* {"path":"../../2.wxss","ext":".wxss"} */

.container {
  text-align: center;
  padding: 0.4rem;
}
button{
  margin-top: 30px;
}
.title {
  font-size: 1rem;
  color: #ead7d7;
  animation: move 3s infinite;
}
.list {
  margin-top: 0.3rem;
  text-align: left;
  border: 1px solid #e6e6e6;
  background: #fff;
  box-shadow: 0 0 0.1rem #878787;
}
.footer {
  padding: 10px;
  position: relative;
  color: #878787;
  font-size: 0.28rem;
  justify-content: space-between;
}
.footer:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1rem;
  overflow: hidden;
  box-shadow: 0 0.02rem 0.02rem rgba(0, 0, 0, 0.2), 0 0.16rem 0 -0.06rem #f6f6f6,
    0 0.18rem 0.02rem -0.06rem rgba(0, 0, 0, 0.2), 0 0.32rem 0 -0.12rem #f6f6f6,
    0 0.34rem 0.04rem -0.12rem rgba(0, 0, 0, 0.2);
}
.clear {
  border: 1px solid #d9d9d9;
  padding: 0.05rem;
  border-radius: 0.1rem;
  z-index: 1000;
}

.list-items {
  display: flex;
  padding: 0 0.3rem;
  justify-content: space-around;
  align-items: center;
  height: 1rem;
  font-size: 0.4rem;
  border-bottom: 1px solid #e6e6e6;
}

.list-items input {
  flex: auto;
  margin-left: 0.3rem;
}

@keyframes move {
  0% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}
.list-items {
  display: flex;
  padding: 0 0.3rem;
  justify-content: space-around;
  align-items: center;
  height: 1rem;
  font-size: 0.4rem;
  border-bottom: 1px solid #e6e6e6;
}
.selectAll {
  width: 0.5rem;
  height: 0.5rem;
}
.list-items input {
  flex: auto;
  margin-left: 0.3rem;
}
.completed {
  text-decoration: line-through;
  color: #d9d9d9;
}
/* pages/kid/index.wxss */