div {
  text-align: center;
}

button {
  margin: 15px auto;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  margin: 15px;
  border: 4px solid var(--primary-border-color);
}

span {
  display: block;
}

.input {
  background: #eee;
  padding: 10px!important;
  display: block;
  border-radius: 5px!important;
  width: 90%;
  margin: 10px auto;
}

.b {
  color: #bbb;
  margin: 10px;
}

.info {
  margin-top: 20px;
}.list-items {
  display: flex;
  padding: 0 0.3rem;
  justify-content: space-around;
  align-items: center;
  height: 1rem;
  font-size: 0.4rem;
  border-bottom: 1px solid #e6e6e6;
}
.selectAll {
  width: 0.5rem;
  height: 0.5rem;
}

.completed {
  text-decoration: line-through;
  color: #d9d9d9;
}
/* pages/kid/index.wxss */